<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>vue学习页面</title>
    <script src="/js/vue.js"></script>
</head>
<body>
    <div id="vue_0">
        <h1>site: {{site}}</h1>
        <h1>name: {{name}}</h1>
        <h1>details: {{details()}}</h1>
        <div v-if="show">show me???</div>
        <a v-bind:href="url">我的链接</a><br>
        <img v-bind:src="imgbk">
    </div>

    <button id="vue_1" @click="handleClick">{{button1}}</button>


    <script type="text/javascript">
        var v0 = new Vue({
            el: '#vue_0',
            data: {
                site: "第一个vue的测试页面",
                name: "solo",
                show: false,
                url: 'http://baidu.com',
                imgbk: 'images/bg.jpg'
            },
            methods: {
                details:  function()
                {
                    return this.site + "，over";
                }
            }
        });

        var v1 = new Vue({
            el: '#vue_1',
            data: {
                button1: "click me!"
            },
            methods: {
                handleClick: function()
                {
                    if(this.button1 != "stop")
                        this.button1 = "stop";
                    else
                        this.button1 = "click me!";
                }
            }
        })

        // var json1 = new Vue({
        //     el: "#app",
        //     data() {
        //         return {
        //             info: null
        //         }
        //     },
        //     mounted() {
        //         axios
        //             .post('/Rest1')
        //             .then(response => (this.info = response))
        //             .catch(function (error) {
        //                 consolo.log(error);
        //             });
        //     }
        // })
    </script>


</body>
</html>