<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper:根标签，namespace：命名空间，跟DAO接口对应 
     文件的名字可以随便取，但namespace一定要指定对应数据操作的接口 -->

<mapper namespace="com.example.demo.dao.UserInfoDao">
   <!-- statement，内容：sql语句。id：对应DAO接口的方法名
      resultType：sql语句查询结果集的封装类bean
    -->

   <resultMap id="userInfoMap" type="com.example.demo.bean.UserInfo">
      <id column="uid" property="uid" />
      <result column="name" property="name" />
      <result column="password" property="password" />
      <result column="salt" property="salt" />
      <result column="state" property="state" />
      <result column="username" property="userName" />
   </resultMap>
   <select id="getUserInfoByUserName" resultMap="userInfoMap">
      select * from user_info where username=#{userName}
   </select>
   <select id="getUserInfoByUid" resultMap="userInfoMap">
      select * from user_info where uid=#{uid}
   </select>
   <insert id="insertUser" parameterType="com.example.demo.bean.UserInfo">
      insert into user_info (uid,name,password,salt,state,username)
      values (#{uid},#{name},#{password},#{salt},#{state},#{userName})
   </insert>

   <!-- <select id="getUserInfoByUserName" resultType="com.example.demo.bean.UserInfo">
      select * from user_info where username=#{userName}
   </select> -->


   <!-- <select id="getUserById" resultType="com.example.demo.bean.User">
      select * from core_user where id=#{id}
   </select> -->
</mapper>